/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
body {
  background: #fcc;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-color: #000050;
  color: #F0FFFF;
}

.logo {
  max-width: 40%;
  flex: 1;
  order: 2;
  margin-left: 50px;
  margin-right: 50px;
}

.searchicon{
    max-width: 20%;
    flex: 1;
    order: 3;
  }

.menu{
  background-color: #000050;
  color: #F0FFFF;
}

nav {
display: flex;
flex-direction: column;
justify-content: center;
background: #333;
display: none;
}

nav a {
padding: 0.2em;
color: #ccc;
background: #555;
text-decoration: none;
transition: all 1.5s;
}
nav a:hover {
color: #dfd;
background: #797;
}

fieldset {
display: flex;
flex-direction: column;
justify-content: center;
background: #333;
display: none;
}

input {
  display: flex;
  flex:2;
  order:1;
  padding-left: 1em;
  flex: 1;
  min-width: 5em;
}

button{
  display: flex;
  flex:1;
  order:2;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}
table, td, th {
border: 1px solid black;
}

img{
  max-width: 100%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.menu-toggle{
  display: flex;
}

.search-toggle{
  display: flex;
}

.Content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.Hide{
  display: none;
}




/*.menu:hover + nav,
nav:hover{
  line-height: 2em ;
  display: flex;
}*/

/* TABLET STYLES */
@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  body {
    background: #cfc;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #333;
    margin: 30px;
    font: larger;

  }

  nav a {
    font-size: xx-large;
    flex: 1;
    order: 1;
  }

  /*
  .logo {
    max-width: 50%;

  }
*/
  .menu {
    display: none;
  }
}

/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */
   body {
    background: #ccf;
  }

  .logo {
    max-width: 35%;

  }
}
